In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('../Incidence of myeloma in AYA population Excel format.slm.csv')

In [3]:
data

,Age recode with <1 year olds,Sex,Year of diagnosis,"Race and origin recode (NHW, NHB, NHAIAN, NHAPI, Hispanic)",Site recode ICD-O-3/WHO 2008,Survival months,Type of Reporting Source,Patient ID
0,35-39 years,Female,2001,Hispanic (All Races),Myeloma,160,Hospital inpatient/outpatient or clinic,802609
1,30-34 years,Male,2000,Hispanic (All Races),Myeloma,188,Hospital inpatient/outpatient or clinic,835763
2,25-29 years,Male,2000,Non-Hispanic White,Myeloma,67,Hospital inpatient/outpatient or clinic,841523
3,35-39 years,Male,2000,Non-Hispanic Asian or Pacific Islander,Myeloma,30,Hospital inpatient/outpatient or clinic,851570
4,30-34 years,Male,2002,Hispanic (All Races),Myeloma,182,Hospital inpatient/outpatient or clinic,871996
...,...,...,...,...,...,...,...,...
1415,30-34 years,Female,2017,Non-Hispanic Black,Myeloma,6,Hospital inpatient/outpatient or clinic,75793558
1416,35-39 years,Male,2017,Non-Hispanic White,Myeloma,0,Hospital inpatient/outpatient or clinic,75802472
1417,35-39 years,Female,2017,Non-Hispanic Black,Myeloma,3,Hospital inpatient/outpatient or clinic,75817427
1418,35-39 years,Female,2017,Non-Hispanic Black,Myeloma,1,Hospital inpatient/outpatient or clinic,75819452
1419,35-39 years,Female,2017,Non-Hispanic White,Myeloma,11,Hospital inpatient/outpatient or clinic,75824292

In [11]:
num_cases = {} # maps year to number of cases
for year in range(2000, 2018):
    case_mask = data['Year of diagnosis'] == year
    num_cases[year] = data[case_mask]['Sex'].count()

In [12]:
num_cases

{2000: 77,
 2001: 91,
 2002: 66,
 2003: 72,
 2004: 75,
 2005: 78,
 2006: 60,
 2007: 70,
 2008: 73,
 2009: 73,
 2010: 73,
 2011: 100,
 2012: 77,
 2013: 102,
 2014: 77,
 2015: 79,
 2016: 90,
 2017: 87}